.header {
  padding-bottom: 32px;
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__total {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 102px;
      top: 77px;
      width: 32px;
      height: 32px;
      background: url("../images/icons/shopping-cart.svg") no-repeat center;
    }
  }
}

.total-header {
  padding-top: 65px;
  padding-bottom: 25px;
  &__title {
    font-size: 14px;
    line-height: 21px;
  }
  &__subtitle {
    font-size: 12px;
    line-height: 13px;
    color: #797b86;
  }
  &__amount {
    font-size: 12px;
    line-height: 17px;
  }
}
