.cart {
  margin-bottom: 107px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 800px;
    margin-bottom: 22px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &--empty {
      font-size: 54px;
      text-align: center;
    }
  }
}

.header-cart {
  &__title {
    font-size: 44px;
    line-height: 120.52%;
    font-weight: 700;
  }
  &__amount {
    flex-grow: 1;
    padding-left: 23px;
    padding-bottom: 5px;
    color: #797b86;
    font-size: 18px;
  }
  &__btn {
    background: transparent;
    border: none;
    font-size: 14px;
    text-decoration: underline;
    padding-bottom: 7px;
    color: #797b86;
    text-underline-offset: 3px;
    &:hover {
      text-decoration: none;
    }
  }
}

.content-cart {
  &__list {
    width: 800px;
  }
  &__total {
    width: 364px;
    padding: 38px 31px;
    margin-left: 55px;
    margin-top: 10px;
    background-color: #f6f8fa;
    border-radius: 5px;
  }
}

.cart-list {
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    padding-top: 25px;
    padding-bottom: 18px;
  }
  &__service {
    display: flex;
    padding: 26px 0;
    padding-left: 25px;
    background-color: #f6f8fa;
  }
}

.cart-item {
  &__text {
    display: flex;
    flex-direction: column;
    width: 263px;
    margin-left: -46px;
  }
  &__amount {
    position: relative;
    display: flex;
    gap: 2px;
    margin-right: 6px;
  }
  &__price {
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    font-size: 18px;
    margin-right: 52px;
  }
  &__btn {
    position: absolute;
    top: 33px;
    right: 19px;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #2c3242;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: #2c3242;
      transform: rotate(-45deg);
    }
  }
}

.item-text {
  &__title {
    font-size: 16px;
    line-height: 23px;
  }
  &__description {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 10px;
  }
  &__article {
    font-size: 14px;
    color: #797b86;
  }
}

.item-amount {
  &__decrement {
    border-radius: 4px 0 0 4px;
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      top: 50%;
      left: 40%;
      background-color: #33374e;
    }
    &:hover {
      background-color: #57596d;
    }
  }
  &__increment {
    border-radius: 0 4px 4px 0;
    &:before {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      top: 50%;
      left: 40%;
      background-color: #33374e;
    }
    &:after {
      content: "";
      width: 2px;
      height: 8px;
      background-color: #33374e;
      position: absolute;
      top: 41%;
      left: 48%;
    }
    &:hover {
      background-color: #57596d;
    }
  }
  &__price {
    position: absolute;
    top: 132%;
    left: 18%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: center;
  }
}

.item-counter {
  position: relative;
  background-color: #f6f8fa;
  border: 0;
  width: 34px;
  height: 34px;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
}

.service-cart {
  &__checkbox {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  &__img {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    margin-right: 20px;
    &::after {
      content: "";
      position: absolute;
      top: 22%;
      left: 22%;
      width: 50px;
      height: 50px;
      background: url("../images/icons/service.svg") no-repeat;
    }
  }
}

.checkbox {
  width: 20px;
  height: 20px;
}
.service-text {
  &__title {
    font-size: 16px;
    font-weight: 700;
    padding-top: 5px;
    margin-bottom: 6px;
  }
  &__description {
    font-size: 14px;
    color: #797b86;
  }
}
